APPLICATION_INFERENCE_PROFILE_ARN="arn:aws:bedrock:ap-southeast-1:096778346036:application-inference-profile/m2yc3f0mbts3"
APP_DEBUG="WARNING"
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_ENDPOINT_URL="https://8bd5b4cdd42eec04a8c28f8a3172cf63.r2.cloudflarestorage.com/raspi-homelab-n8n-bucket-07d0d622c"
R2_BUCKET_NAME="raspi-homelab-n8n-bucket-07d0d622c"
